<div class="card shadow border-left-warning py-2">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Кол-во клиентов</span></div>
                <div class="text-dark font-weight-bold h5 mb-0"><span>20000</span></div>
            </div>
            <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
        </div>
    </div>
</div>

@code {

}
