@page "/"
@inject NavigationManager navigationManager
@using ClubOyster_Cursach.Data

<PageTitle>Autorization Form</PageTitle>

<div class="align-content-center">
    <h3 class="fs-4 fw-bold text-white">BLUE OYSTER</h3>
    
</div>

<EditForm Model="userModel">
    <DataAnnotationsValidator/>

    <h3 class="h3">Авторизация</h3>
    <label for="name">Логин</label>
    <InputText id="name" type="text" @bind-Value="userModel.Login"></InputText>
    <ValidationMessage For="() => userModel.Login"/>

    <label for="password">Пароль</label>
    <InputText id="password" type="password" @bind-Value="userModel.Password"></InputText>
    <ValidationMessage For="() => userModel.Password" />

    <button type="button" @onclick="Autorizaiton">Войти</button>
    <button type="button" @onclick="RegistrationForm">Зарегистрироваться</button>

    @if (check == true)
    {
        <strong class="text-center">@exeption</strong>
    }

</EditForm>


@code {
    User userModel = new User();

    private string? exeption = "Введен неверный логин/пароль";

    private bool? check = false;

    private void RegistrationForm()
    {
        navigationManager.NavigateTo("/registration");
    }

    private void Autorizaiton()
    {
        if (userModel.Login != null || userModel.Password != null)
        {
            var checkUsers = MongoDb.FindUsers();

            foreach(var item in checkUsers)
            {
                if (userModel.Login == item.Login && userModel.Password == item.Password)
                {
                    navigationManager.NavigateTo("/profile");
                }
            }
            check = true;

        }
    }
}